.header .navbar-brand {
 font-size: 18px !important;
}

.header{
    padding-left: 5% !important;
    padding-right: 5% !important;
    height: 80px !important;
}

.header .nav-item{
    padding:10px;
    height: auto !important;
    display: block !important;
}



.header .navbar-nav{
    float: right !important;
}