.info{
    margin: auto;
    display: block;
    margin-top: 50px;
    width:100%;
    max-width: 350px !important;
}

.info-image{
    width:100%;
    max-width: 156px;
    height: 150px;
    margin-top: 22px;
    margin: auto;
}

.cleva-item .bg-success {
color: #23E33E !important;
background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #23E33E !important;
}
 .cleva-item .badge {
    display: inline-block;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    border-radius: 8px;
 }


.info-body{
    width:100%;
max-width: 358px;
height: 103px;
text-align: center;
}

.btn-link{
    text-decoration: none !important;
}

.info-body h2{
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 51px;
    color: #000000;
    }


.info-body h6{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #747A80;
    }