.nav-tabs .nav-link.active{
    background: #000000 !important;
    border-radius: 8px;
    color:#fff !important;
    }
.nav-tabs .nav-link{
    background: #ededed;
    border-radius: 8px;
    color:#000000 !important;
    font-size:12px;
    width: 100%;
    font-weight: bolder !important;
    }

    .nav-tabs .nav-item{
    width: 142px !important;
}
            
.nav-tabs{
margin-top: 25px;
mix-blend-mode: normal;
border-radius: 10px;
border-bottom: none;
margin-left: 30px;
width: auto;
float: left;
}


.tab-content{
    float: left;
    width: 100%;
}



      
.pay-board .nav-item{
    width: auto !important;
}


      
.pay-board .nav{
margin: 30px;
}

.pay-board .nav-tabs{
    
}
