.row,.row>*{
    margin: 0px !important;
    padding: 0px !important;
    /* --bs-gutter-x: 0; */
}


.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
    left:0px !important;
}

.board{
    min-height: 550px;
    display: block;
    float: left;
    margin: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
    width: 100% !important;
}


.sub-head{
    height:auto;
    display: block;
    float: left;
    margin: 0px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
    padding-top: 20px !important;
    width: 100% !important;
}

.pay-form{
    max-width:520px;
    margin:auto !important;
    margin-bottom: 30px !important;
}


.btn{
    margin: 10px;
}


.padding{
    padding-top:35px !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}


.table-recipient  tbody{
    height: 64px !important;
    mix-blend-mode: normal;
    border: none !important;
    border-radius: 8px !important;
    margin: 10px !important;
}
.table-recipient  thead{
        border: none !important;
}

.table-recipient tbody .active {
    border: 1px solid rgba(0, 0, 0, 0.7);
    mix-blend-mode: normal;
    border-radius: 8px !important;
    background: #FFFFFF;
}

.table-recipient tbody .inactive {
    border:1px solid rgba(207, 219, 213, 0.7);
    mix-blend-mode: normal;
    border-radius: 8px !important;
    background: #f5f5f5;
}

.table-recipient tbody .active::after {
    content: "";
    display: block;
    margin-right: -52px;
    margin-left: -41px;
    margin-top:40px;
    /* border-top: 4px solid #ff4124; */
    width: 80px;
  }

tr{
    width: 100% !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

td{
    padding-top:20px !important;
    padding-bottom:20px !important;
}
.table>:not(:first-child) {
    border: none !important;
}

.btn .pull-right{
    text-align: center !important;
}
.btn-custard{
    background: #FFBD59;
    border-radius: 8px;font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    width: 151px;
    height: 52px;
}

.header .btn-clear,.footer .btn-clear{
    mix-blend-mode: normal;
    border: 1px solid rgba(207, 219, 213, 0.7);
    border-radius: 8px;
}

.btn-clear{
    text-align: left !important;
    margin:0px !important;
    font-size: 14px !important;
}

.list-group-item .pull-right {
    max-width: 200px;
    text-align: right;
}

.pay-form .form-select,.pay-form .form-control{
    box-sizing: border-box;
    mix-blend-mode: normal;
    border: 1px solid rgba(207, 219, 213, 0.7);
    border-radius: 8px;
    height: 44px !important;
}

.pay-form .form-label{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.pay-form .form-check-input{
    background: #747A80;
    width: 10px;
    height: 10px;
}
.pay-form .form-check-input:focus{
    background: #f68114;
    width: 10px;
    height: 10px;
}
/* .form-check-input::before {
    content: "";
    position: relative;
    left: 0px;
    top: -20px;
    width: 30px;
    height: 50px;
    border-top: 28px solid #747A80;
    border-right: 2px solid #747A80;
    border-left: 1px solid #747A80;
  } */

.form-check-input::before {
    content: "";
    display: block;
    margin-left: -26px;
    margin-top: 3px;
    border-top: 1px solid #747A80;
    width: 26px;
  }


  .form-check-input:focus::before {
    border-top: 2px solid #ed9e00;
  }

  .hidden{
    display: none !important;
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
      display: none;
    }
    20% {
        opacity: 0.7;
    }
    70% {
        opacity: 1;
      display: block;
    }
    100% {
        opacity: 1;
      display: block;
    }
  }
  
  .show_content {
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transition:all 0.4s !important;
    transition-delay: 0.4s !important;
    transition-timing-function: ease-out !important;
  }

  
    .move{
    transition:all 0.2s !important;
    }

.recipient-control::after {
    content: "";
    display: block;
    margin-left: -20px;
    margin-top: 30px;
    border-top: 1px solid #747A80;
    width: 51px;
    transform: rotate(90deg);
  }

  .recipient-control:focus::before {
    border-top: 2px solid #ed9e00;
  }
  

.bg-dark{
    background-color: #000000 !important;
}


.check-control::before {
    content: "";
    display: block;
    margin-right: 12px;
    margin-left: -41px;
    margin-top:-38px;
    border-top: 1px solid #747A80;
    width: 30px;
    transform: rotate(90deg);
  }

  .check-control:focus::before {
    border-top: 2px solid #ed9e00;
  }
  

@media only screen and (max-width: 1190px) {
    .sidebar-menu-nav-title{
        display: none !important;
    }
}

.menu-btn{
    display: none !important;
} 


@media only screen and (max-width: 500px) {
    .sidebar-menu-nav-title{
        display: unset !important;
    }
    .btn b{
        display: unset !important;
    }
    .sidebar-menu-header{
        display: block !important;
    }  
    .menu-btn{
        display: block !important;
    } 
    .cleva-item{
        width: unset !important;
    }
}

@media only screen and (max-width: 890px) {
    .sidebar-menu-header{
        display: none !important;
    }  
     .foot-bar a{
        font-size: 10px !important;
    }
    .profile-details{
        margin: 5px !important;
    }
    .check-control::before{
    margin-left: -14px !important;
    margin-top: -10px !important;
    }
    .padding{
        padding:8px !important;
    }
    .board{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .search-input{
        display: none !important;
    }
    .btn b{
        display: none !important;
    }
    .search-input{
        width: 100% !important;
    }
}


.table{
    width:100%;
    overflow: hidden;
    float: left;
}


td{
    border-style: none !important;
}


.pay-board{
    min-height: 530px;
    display: block;
    float: left;
    margin: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
    width: 100% !important;
}

.pay-board ul{
    margin: auto !important;
    float: none !important;
    width: 350;
    padding-bottom: 50px;
    padding-top: 10px;
}

.modal-content{
    margin-top: 37% !important;
    background: #FFFFFF !important;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.25);
    border-radius: 16px;
}

.form-control:disabled, .form-select:disabled, .form-control[readonly] {
    background: #FFFFFF !important;
}

.pay-form .input-group input{
    border-right:none !important;
}

.modal-info .modal-body{
    background: #EBF0F0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.modal-review .modal-header{
    background: #EBF0F0;
}

.cover{
    background: #EBF0F0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-top:20px !important;
    padding-bottom:20px !important;
    height: auto;
    float:left;
    width: 100%;
    display: block;
}

.cover h3{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.cover h6{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
}

.modal-info .modal-footer{
    background: #EBF0F0;
    }

.modal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.modal{
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.25);
    border-radius: 16px;
}

.modal h5{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.cleva-item{
    height: auto !important;
    mix-blend-mode: normal;
    border: 1px solid rgba(207, 219, 213, 0.7);
    border-radius: 8px !important;
    margin: 10px !important;
    float: left !important;
    background: #FFFFFF;
    padding: 17px !important;
    border-radius: 8px;
    width: inherit;
}

.cleva-item .col{
    margin-top: 10px !important;
}

.cleva-item b{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    }

.cleva-item h6{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #747A80;
    }



.review-details .list-group-item{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #747A80;
    border: none !important;
}

.review-details  .list-group-item .pull-right{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #000000;
}


.review-details  .list-group-item b{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
}





.form-check-label{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #747A80;
    border: none !important;
}

.row  .pull-right{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}