body{
    font:Helvetica;
    font-size: 16px;
    background-color: black;
}

#top-section {
    height: 10%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 20;
}

img.logoImage{
    padding-top: 2%;
    padding-left: 3%;
    height: 70%;
    max-width: 150px;
    min-width: 120px;
    float: left;
}


#topClevaButton{
    float: right;
    border-radius: 8px;
    background-color: black;
    color: #FFBD59;
    margin-right: 5%;
    margin-top: 1%;
    width: 8%;
    height: 60%;
    min-width: 120px;
    text-align: center;
    font-size: 16px;
    border-color:#FFBD59;
}

.clevaButton{
    background-color: #FFBD59;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#introduction{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background: black;
    height: 100vh;
    width: 100%;
    color: white;
    left: 3%;
    right: 3%;
    position: relative;
}

#info-get-cleva {
    padding-top: 5%;
    /*border: 5px solid blue;*/
}

.intro-text {
    float: left;
    width: 50%;
    font-size: 18px;
    height: 500px;
    padding: 5%;
}

.intro-image{
    width: 50%;
    height: 50%; /* only if you want fixed height */
    /*border: 3px solid red;*/
    padding: 8%;
}

.first-info-row{
    width: 100%;
    /*border: 5px solid green;*/
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    overflow: hidden;
    position: relative;
}


.info-row{
    width: 100%;
    /*border: 5px solid green;*/
    padding-right: 10%;
    padding-left: 10%;
    /*padding-top: 3%;*/
    padding-bottom: 2%;
    overflow: hidden;
    position: relative;
}

#use-cases{
    margin-left: 45%;
    color:white;
    font-size: 2em;
    /*text-decoration: underline;*/
}

.left-text-card {
    background-image: url("../images/grey.png");
    border: 3px solid #FFBD59;
    border-radius: 8px;
    float: left;
    width: 50%;
    height: 150px; /* only if you want fixed height */
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1px;
    overflow-y: auto;
    color: black;
    text-align: center;
}

.right-text-card {
    background-image: url("../images/grey.png");
    border: 3px solid #FFBD59;
    border-radius: 8px;
    float: right;
    width: 50%;
    margin-left: 2px;
    height: 150px; /* only if you want fixed height */
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1px;
    overflow-y: auto;
    color: black;
    text-align: center;
}

#text-size-medium {
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: 400;
    /*font: Helvetica;*/
    /*min-width: 60px;*/
}

.image-card {
    border: 5px solid blue;
}

.use-case-text {
    font: Helvetica;
    font-size: 1.3rem;
}

.center-mid-text {
    color: white;
}

.fit-image{
    width: 400px;
    height: 215px; /* only if you want fixed height */
    /*border: 3px solid red;*/
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}


#email-us{
    padding-left:3%;
    padding-top: 1%;
}


#multi-select-interest{
    font-size: 16px;
}

#waitlist{
    margin-left: 45%;
    font-weight: 700;
    font-size: 2rem;
    font: Helvetica;

}

#how-did-you-hear{
    font-size: 16px;
}


#contact-us-forms {
    /*padding-top: 2%;*/
    width: 100%;
    /*padding-right: 30%;*/
    background: white;
    font: Helvetica;
}


#contact-us-text {
    float: left;
    font: white;
}

#contact-us-text{
    float: right;
}

#for-who {
    font-size: 1.6rem;
    font-weight: 700;
}


#footer-div{
    background-color: black;
    height: 10%;
    color: white;
    position: relative;
    padding: 1%;
    font-size: 16px;
    font: Helvetica;
}

#plugins{
    float: right;
    position: absolute;
    top: 13%;
    right:1%;
}

#input_2 {
    background-color: #FFBD59;
}
